# Библиотеки и данные систем сборки
.gradle/
node_modules/

# Директории IDE
.idea/

# Директории сборки
build/
dist/
src/main/resources/static/js

# Директория логирования
logs/

# Файл с переменными окружения
.env