<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sprello Users</title>
    <style>
        html {
            font-size: 14pt;
        }
    </style>
    <script th:inline="javascript">
        const userInfo = [[${userInfo}]];
    </script>
</head>
<body>
<div id="app"></div>
</body>
<script th:src="${isDevMode} ? 'http://localhost:8000/users.js' : '/js/users.js'"></script>
</html>